<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h4>Home page</h4>
    <h4>Go to views/pages/home to modify it</h4>
    <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum obcaecati, incidunt earum iusto aperiam enim
        illum qui eveniet veniam ea a beatae aliquid autem quia, quidem maiores dolor porro quas.
    </p>
</div>